* {
    padding: 0;
    margin: 0;
}

/* 背景 */
#bg {
    width: 100%;
    height: 1100px;
    background: linear-gradient(#107DE4, #ffffff);
    z-index: -99;
}

/* 头部 */
#head {
    margin: auto;
    text-align: center;
    width: 1300px;
    height: 141px;
}

/* 内容 */
#content {
    margin: auto;
    width: 1300px;
    height: 900px;
    background-color: #ffffff;
    box-shadow: #BCE5FB 1px 1px 20px 5px;
    /* 待调整 */
}

/* 导航 */
.bar {
    width: 100%;
    background: #1C6DBB;
    display: inline-block;
    margin: auto;
}

/* 导航ul */
.bar ul {
    list-style-type: none;
    overflow: hidden;
}

/* 一级导航 */
.zhu{
    float: left;
    text-align: center;
    font-size: 18px;
}

/* 一级导航超链接 */
.bar ul li a {
    display: block;
    width: 96px;
    padding: 6px 5px;
    color: #ffffff;
    text-decoration-line: none;
}

/* 一级导航停靠效果 */
.bar ul li a:hover {
    background-color: #50BDFE;
}
/* .bar li {
    float: left;
    text-align: center;
    font-size: 18px;
} */

/* 二级导航 */
.under{
    text-align: center;
    font-size: 18px;
}


/* 二级导航ul */
.bar ul li ul {
    display: none;
}

/* 二级导航超链接 */
.bar ul li ul a {
    width: 87px;
    padding: 6px 5px;
    display: block;
}

/* 二级导航停靠效果 */
.bar ul li:hover ul {
    display: block;
    position: absolute;
}

/* 这个不是很懂 */

/* 二级导航停靠效果 */
.bar ul li:hover ul li a {
    background: #50BDFE;
    color: #ffffff;
    width: 97px;
    text-align: center;
}

/* 二级导航停靠效果 */
.bar ul li:hover ul li a:hover {
    background: #1C6DBB;
    color: #ffffff;
}

/* 各部分公共 */
.section {
    width: 1250px;
    margin: auto;
    display: flex;
}
/* 各栏目新闻列表表格 */
.tab{
    border-collapse: collapse;
}

.tab tr{
    /* 新闻表格下边框 */
    border-bottom: 1px solid gray;
}
.tab th{
    /* 表头边距 */
    padding: 5px 1px;
}
.tab td{
    /* 单元格边距 */
    padding: 5px 1px;
}
/* 新闻标题 */
.title{
    font-size: 14px;
}
/* 新闻日期 */
.date{
    font-size: 10px;
    color: gray;
}
/* 第一行第一部分 */
#sec1 {
    /* background-color:darksalmon; */
    width: 33%;
    height: 300px;
    justify-content: center;
    padding: 10px;
}
/* 图片轮播 */
#pic {
    background-color: coral;
    width: 67%;
    padding: 10px;
    height: 300px;
    justify-content: center;
}

/* 第二行第一部分 */
#sec2 {
    /* background-color: chocolate; */
    width: 33%;
    padding: 10px;
    height: 300px;
    justify-content: center;
}

/* 第二行第二部分 */
#sec3 {
    /* background-color: darkmagenta; */
    width: 33%;
    padding: 10px;
    height: 300px;
    justify-content: center;
}

/* 第二行第三部分 */
#sec4 {
    /* background-color: deeppink; */
    width: 34%;
    padding: 10px;
    height: 300px;
    justify-content: center;
}

/* sec2超链接 */
.link{
    padding: 5px 1px;
    width: 100%;
    font-size: 15px;
}
/* sec2超链接 */
.link a{
    text-decoration: none;
    color: #107DE4;
}

/* sec2悬停 */
.link a:hover{
    text-decoration: underline;
    color: #1C6DBB;
}

/* sec4按钮栏目 */
.button{
    border-collapse: collapse;
    width: 100%;
}

.button th{
        padding: 5px 1px;
}
/* 按钮超链接 */
.button a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.button a:hover{
    color: white;
}
.button td{
    /* 设置背景颜色 */
    margin: 10px;
    padding: 5px 5px;
    text-align: center;
}

/* 省运会图片 */
#syh {
    text-align: center;
}